@use "./variables" as *;
@use "./mixins" as *;

.dashboard-page {
    background: $color-light-gray url(../images/login-bg.png) center no-repeat;
    display: flex;

    .dashboard-main {
        display: flex;
        flex-direction: column;
        width: calc(100% - 380px);
    }

    .dashboard-sidebar {
        width: 380px;
        height: 100vh;
    }

    .dashboard-content {
        padding: 0 30px;
        width: calc(100% - 84px);
        margin-left: auto;
    }
}