@use './variables' as *;
@use './mixins' as *;

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  input {
    opacity: 0;
    width: 40px;
    height: 24px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: #bbbbbb;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked+.slider::before {
    transform: translateX(16px);
    background-color: $color-primary;
  }

  &.switch-sm {
    width: 24px;
    height: 16px;

    input {
      width: 24px;
      height: 16px;
    }

    .slider {
      &::before {
        height: 12px;
        width: 12px;
        left: 2px;
        bottom: 2px;
      }
    }

    input:checked+.slider::before {
      transform: translateX(8px);
    }
  }
}

// search-box
.search-box {
  position: relative;
  margin: 0;

  .form-control {
    color: $color-text-primary;
    font-family: $font-family-doto;
    font-size: 10px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    padding: 6px 15px 6px 33px;
    background: $color-white;
    height: 30px;
    border-radius: 100px;
    border: 1px solid rgba($color-text-primary, 0.08);
    outline: none;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      text-transform: uppercase;
    }
  }

  .search-icon {
    svg {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// dashboard-container
.dashboard-page {
  background: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

// patient-list-container
.title-16 {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.patient-list-container {
  width: 380px;
  height: 100%;
  background: $color-white;
  border: 1px solid $color-white;
  padding: 18px 10px 0;
  border-radius: 50px 0 0 40px;
  position: relative;
  overflow: hidden;

  .patient-top-section {
    background: rgba(255, 255, 255, 0.81);
    backdrop-filter: blur(9.85px);
    position: absolute;
    top: 0px;
    right: 0;
    padding: 18px 10px 15px;
    z-index: 5;
  }

  .patient-title {
    color: rgba($color-text-primary, 0.5);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.6px;
    margin-bottom: 8px;
    padding-left: 10px;
  }

  .patient-top-box {
    background: rgba($color-text-primary, 0.04);
    padding: 14px 17px 18px 15px;
    margin-bottom: 10px;

    .patient-des {
      color: rgba($color-text-primary, 0.8);
      font-family: $font-family-avenir;
      font-size: 10px;
      font-weight: 300;
      line-height: 13px;
      margin-bottom: 15px;
    }

    .session-box {
      @include flex-between;
      gap: 10px;

      .session-title {
        color: $color-text-primary;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        margin: 0;
        position: relative;

        svg {
          position: absolute;
          right: -14px;
          top: -5px;
        }
      }
    }
  }

  .patient-search-box {
    display: flex;
    justify-content: center;
    gap: 4;

    .search-box {
      max-width: 130px;
    }

    .pill-group {
      display: block;
      gap: unset;

      &__options {
        display: inline-flex;
        gap: 4px;
      }
    }

    .pill-btn {
      font-weight: 800;
      padding: 6px 10px;
    }
  }
}

// patient-card
.patient-card {
  width: 100%;
  max-width: 260px;
  margin: 10px auto 10px;
}

.patient-card-content {
  position: relative;
  width: 100%;
  height: 244px;
  overflow: hidden;
  color: $color-white;

  .patient-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* gradient overlay */
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .patient-top-bar {
    position: absolute;
    top: 14px;
    left: 14px;
    right: 14px;
    @include flex-between;
    z-index: 2;
  }

  .patient-online {
    color: $color-white;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    background: $color-text-success;
    padding: 4px 8px;
    border-radius: 20px;
  }

  .patient-ai-toggle {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
      color: $color-white;
      font-size: 10px;
      font-weight: 400;
      line-height: 10px;
    }
  }
}

.patient-content {
  position: absolute;
  bottom: 14px;
  left: 14px;
  z-index: 2;

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
}

.patient-actions {
  margin-top: 14px;
  display: flex;
  gap: 4px;

  .patient-message {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-text-primary;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    height: 26px;
    padding: 4px 12px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.79);
    backdrop-filter: blur(11px);
  }
}

.patient-card-list {
  height: 100%;
  overflow: auto;
  padding-top: 206px;
  padding-bottom: 20px;

  @-moz-document url-prefix() {
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }
}